body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 530px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="file"],
button {
    width: 90%;
    padding: 12px;
    margin: 15px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #5cb85c; /* لون الحدود عند التركيز */
}

button {
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left:19px;
    font-weight: bold;
}

button:hover {
    background-color: #4cae4c;
    transform: translateY(-2px); /* تأثير رفع خفيف عند التمرير */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#message {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}
